spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/textchat
spring.datasource.username=textchat
spring.datasource.password=
spring.jpa.show-sql=true
twilio.accountSid=abc123
twilio.authToken=def456

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

# App configuration
cerberus.token.header=X-Auth-Token
cerberus.token.secret=sssshhhh!
cerberus.token.expiration=604800

# Routes
cerberus.route.authentication=auth
cerberus.route.authentication.refresh=refresh
cerberus.route.protected=protected

