body {
  margin: 0;
  line-height: 1.5;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: $content;
}

h1,
h2,
strong {
  color: $content;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

.section-break {
  background-color: $simple;
  margin: 0;
  padding: 0.2em 1em;
  font-size: 1em;
}

a {
  color: $flair;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: $primary-activate;
  text-decoration: none;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    flex: 0 1 auto;
    background-color: $scuba;
    padding: 0.8em 3em;

    h1 {
      margin: 0;
      padding: 0;
      cursor: default;
      font-size: 1.5rem;
      color: $simple;
    }
  }

  .dashboard {
    flex: 1 1 auto;
    display: flex;
  }
}

.latest-messages-container {
  flex: 0 1 18em;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $simple-content;
  min-width: 18em;

  .latest-messages-header {
    flex: 0 1 auto;
  }

  .latest-messages-content {
    flex: 1 1 auto;
    overflow: scroll;
  }
}

.thread-summary {
  padding: 0.5em 1em;
  cursor: pointer;

  &:hover {
    background-color: $simple;
  }

  .thread-summary-title {
    color: $flair;
    font-weight: 400;
    font-size: 0.9rem;
  }
}

.thread-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .thread-title {
    flex: 0 1 auto;
    border-bottom: 1px solid $simple-content;

    h2 {
      padding: 0.7em 1em;
    }
  }

  .thread-content {
    flex: 1 1 auto;
    display: flex;

    .thread-messages-pane {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      border-right: 1px solid $simple-content;

      .thread-body {
        flex: 1 1 auto;
        overflow: scroll;
        border-bottom: 1px solid $simple-content;
      }

      .thread-footer {
        flex: 0 1 8em;

        .input-container {
          padding: 1em;
        }
      }
    }

    .thread-contact-pane {
      flex: 0 1 18em;
      min-width: 18em;

      .contact-details {
        padding: 1em;

        .add-name {
          cursor: pointer;
          color: $simple-content;

          &:hover {
            color: $flair;
          }
        }

        input {
          border: 1px solid $simple;
          margin: .5em 0;
          padding: .3em 0;
        }
      }
    }
  }
}

.message-bubble {
  margin: .5em 1em;
  padding: .5em 1em;
  background-color: $simple;
  border-radius: 1.5em;
  width: auto;
  clear: both;
  float: left;

  &.outgoing {
    background-color: $scuba;
    color: $simple;
    float: right;
  }
}

.message-input {
  width: 100%;
}

.new-message {
  padding: 1em;
}

.hover-edit {
  cursor: pointer;

  &:hover {
    color: $flair;

    &::after {
      content: ' \f040';
      font-family: FontAwesome;
    }
  }
}